snippet doc "begin" bA
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>练习</title>

</head>

<body>
    $1
</body>
</html>
endsnippet

snippet in "input" iA
<input type="$1" $2/>
endsnippet

snippet bu "button" iA
<button type="button">$1</button>
endsnippet

snippet fn "function" bA
Function $1($2)
	$3
End Function
endsnippet


