snippet scjk "set CJK family" bA
\\setCJKfamilyfont\{$1\}\{$2\}
$0
endsnippet

snippet nc "newcommand" bA
\\newcommand*\{\\$1\}\{$2\}
$0
endsnippet

snippet cjkf "cjkfamily" iA
\\CJKfamily\{$1\}$0
endsnippet

