snippet fun "function" bA
function! $1
	$2
endfunction
endsnippet

snippet if "if endif" b
if $1
	$2
endif
endsnippet

snippet aug "augroup" bA
augroup $1
	autocmd!
	autocmd $2
augroup END
endsnippet

